@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  margin-top: 200px;
  width: 60%;
  /* background: white no-repeat top url(./images/bg-pattern-mobile.svg); */
  background-color: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 40px 20px;
  box-shadow: 0 10px 60px hsl(238, 29%, 16%);
}
.img-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}
.img-container--box {
  width: 100%;
  text-align: center;
}
.header-background {
  width: 70%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.card-img__header {
  width: 70%;
  margin-top: -32%;
  margin-bottom: 70px;
}
.card section {
  border-bottom: 1px solid hsl(240, 5%, 91%);
  padding-bottom: 20px;
  margin-top: 20px;
}
.card section p {
  margin-top: 20px;
}
.card-header {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-header:hover {
  cursor: pointer;
  color: hsl(14, 88%, 65%);
}

.img-arrow {
  width: 12px;
  height: 8px;
  transform: rotate(180deg);
}
@media (min-width: 1200px) {
  .card {
    flex-direction: row;
  }
  .card-img__header {
    content: url(./images/illustration-woman-online-desktop.svg);
    position: absolute;
    left: -16%;
    width: 95%;
    z-index: 2;
  }
  .header-background {
    content: url(./images/bg-pattern-desktop.svg);
    position: absolute;
    left: 30%;
    top: -180px;
    width: 95%;
    z-index: 1;
  }
  .card-img__header--box {
    content: url(./images/illustration-box-desktop.svg);
    position: absolute;
    left: -25%;
    z-index: 3;
    width: 30%;
  }
}

.hidden {
  display: none;
}

.header-active {
  font-weight: 700;
}
.img-arrow--active {
  transform: rotate(0);
}
